.dropdown-item:hover {
  background-color: #d1d2d5;
}
.dropdown-item:active {
  background-color: #a3a7ac;
}
.btn-group > .btn {
  border-radius: 4px;
  font-size: 16px;
}
.filter-time-dropdown > .btn {
  border-radius: 4px;
}