//
// Default CSS for the entire application. This file should imported into all top level CSS files.
//

@import './scss/variables';
@import '~bootstrap/scss/bootstrap.scss';
.btn:focus{
  box-shadow: none;
}
.new::-webkit-scrollbar {display:none}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #bcc4d0;
  border-color: #bcc4d0;
}
.btn-secondary.disabled, .btn-secondary:disabled {
  color: #bcc4d0;
  background-color: #ffffff;
  border-color: #bcc4d0;
}
