@import "../scss/_variables.scss"; //

footer {
    font-size: 16px;
    margin: auto;
    width: 100%;
    color: $white !important;
    background-color: $darkSky;
    @media (min-width: $mediaDesktop) {
        height: 60px;
    }

    a:hover {
        color: $white !important;
    }

    > ul {
        margin: 0;
        list-style: none;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        @media (min-width: $mediaTablet) {
            padding: 0 10px 0 20px;
        }
        @media (max-width: $mediaPhone) {
            padding: 0;
        }

        > li {
            margin: 0 10px;
            line-height: 60px;
            @media (max-width: $mediaPhone) {
                text-align: center;
                flex-basis: 100%;
                line-height: 1;
                padding: 20px 0
            }
        }

        > li.logo {
            margin: 0;
            flex: 1;
            @media (max-width: $mediaPhone) {
                padding: 40px 0 20px;
            }
        }

        > li.copy-right {
            opacity: 0.5;
            @media (max-width: $mediaPhone) {
                padding: 20px 0 40px;
            }
        }


        li > a {
            color: $white !important;
        }
    }
}
