@import '../scss/_variables.scss';

.rc-collapse-content{
  color: #ffffff;
  padding: 0 16px;
  background-color: $darkSky;
}
.rc-collapse-header{
  display: flex;
  align-items: center;
}
.rc-collapse > .rc-collapse-item > .rc-collapse-header {
  height: 60px;
}