.rc-notification-notice-content {
    display: flex;
    justify-content: center;
}

.alert-success {
    background-color: #72b567;
    color: #ffffff;
    border: solid 1px #72b567;
}
.alert-danger {
    background-color: #e17367;
    color: #ffffff;
    border: solid 1px #e17367;
}
.alert-info {
    background-color: #5d90e3;
    color: #ffffff;
    border: solid 1px #5d90e3;
}
.alert-warning {
    background-color: #faee67;
    color: #192230;
    border: solid 1px #faee67;
}