@import "../scss/variables";

.section-star {
    background: url("../assets/image/icon/star-filled.png") no-repeat;
    display: inline-block;
    background-size: 100%;
    line-height: 100%;
    font-size: 20px;
    padding: 15px;
}
