@import "../scss/variables";

.section-star {
    background: url("../assets/image/icon/star-filled.png") no-repeat;
    display: inline-block;
    background-size: 100%;
    line-height: 100%;
    line-height: 0.6;
    font-weight: bold;
    padding: 15px;
}
