@import '../scss/_variables.scss';

.CalendarDay,
.CalendarDay:hover,
.CalendarDay:active,
.DayPickerNavigation_button {
  border: 0
}
.DayPickerNavigation_button__default:focus, .DayPickerNavigation_button__default:hover {
  border: 0
}
.DateRangePickerInput_calendarIcon {
  padding: 0;
}
.DateRangePickerInput_arrow {
  display: flex;
  align-items: center;
  margin-right: -1px
}
.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
  border: 0
}
.CalendarDay__selected_start,
.CalendarDay__selected_start:hover,
.CalendarDay__selected_start:active
 {
  border-radius: 5px 0 0 5px;
  background: #203a62;
}
.CalendarDay__selected_end,
.CalendarDay__selected_end:hover,
.CalendarDay__selected_end:active {
  border-radius: 0 5px 5px 0;
  background: #203a62;
}
.CalendarDay__selected_span {
  background: #b9cff3;
}
.DateInput,
.DateInput_input,
.DateRangePickerInput,
.SingleDatePickerInput {
  border-radius: 4px;
}
.DateInput_input__focused {
  border: 0
}
.DateInput_input__small {
  height: 38px;
}
.CalendarDay__default {
  width: 40px !important
}
.DateRangePicker {
  width: 100%;
}
.DateRangePicker > .div {
  width: 100%;
  display: flex;
}
.DateRangePickerInput {
  flex: 1;
  display: flex;
}
.DateInput {
  flex: 1;
}
.DateInput_input {
  text-align: center;
  cursor: pointer;
}
