input[type="checkbox"]:checked {
    background-color: black;
    width: 100px;
    color: red;
}
// input[type="checkbox"]+label::before {
//     content: '';
//     display: inline-block;
//     width: 14px;
//     height: 14px;
//     border-radius: 2px;
//     border: 1px solid #cccccc;
//     margin-right: 5px;
//     margin-top: 1px;
//     background-clip: content-box;
//     background-color: white;
// }
// input[type="checkbox"]:checked+label::before {
//     background-color: #192230;
//     color: white;
//     border-color: #192230;
//     position: relative;
// }
// input[type="checkbox"]:checked+label::before::before {
//     background-color: #192230;
//     color: white;
//     border-color: #192230;
//     position: relative;
// }
// input[type="checkbox"]:checked+label::after {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 1px;
//     width: 4px;
//     background-color: red;
// }