.qb-checkbox{
    display: none;
}
.qb-checkbox+label:before{
    content: '';
    height: 14px;
    width: 14px;
    margin-right: 5px;
    border-radius: 2px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    top: 1px;
    position: relative;
    display: inline-block;
}
.qb-checkbox:checked+label:before{
    content: '';
    height: 14px;
    width: 14px;
    margin-right: 5px;
    border-radius: 2px;
    top: 1px;
    position: relative;
    border: 0;
    display: inline-block;
    background-image: url('../assets/image/icon/checkbox-checked.svg');
}
.qb-radio{
    display: none;
}
.qb-radio+label:before{
    content: '';
    height: 15px;
    width: 15px;
    margin-right: 5px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    top: 1px;
    position: relative;
    display: inline-block;
}
.qb-radio:checked+label:before{
    content: '';
    height: 15px;
    width: 15px;
    margin-right: 5px;
    border-radius: 10px;
    top: 1px;
    position: relative;
    border: 0;
    display: inline-block;
    background-image: url('../assets/image/icon/radio-checked.svg');
    background-size: contain;
}
